# user data
*
!.*
.*_history
.android
.ansible
.audacity*
.bash*
.cache
.config/*
!.config/contain
!.config/containers
!.config/fontconfig
!.config/git
!.config/kitty
!.config/mako
!.config/nvim
.config/nvim/*
!.config/nvim/colors
!.config/nvim/skel
!.config/nvim/init.nvim
!.config/skhd
!.config/sway
.config/sway/enabled/*
!.config/swaynag
!.config/waybar
!.config/wofi
!.config/yabai
!.config/yadm
.dbus
.gem
.ghidra
.gnupg/*
!.gnupg/gpg-agent.conf
!.gnupg/gpg.conf
.java
.kube/cache
.lesshst
.local/bin/cutter
.local/bin/black*
.local/bin/dust
.local/bin/http*
.local/bin/kube*
.local/bin/mc
.local/lib
.local/share/*
!.local/share/MultiMC
.local/share/MultiMC/*
!.local/share/MultiMC/install.sh
!.local/share/yadm
.local/share/yadm/repo.git
!.local/share/yadm/archive
.mc/share
.mozilla
.password-store
.pki
.ssh/authorized_keys
.ssh/known_hosts
.var/app
.wget-hsts
.zcompdump
.zoom


# vcs
.git

# packaging
.docker
.dockerignore

# publishing
.github
.local/screenshots

# large
.wallpaper
