# user data
*
#!.*
.*_history
.android
.ansible
.audacity*
.bash*
.cache
.cargo/bin
.cargo/registry
.cargo/.package-cache
.config/*
!.config/contain
!.config/containers
!.config/fontconfig
!.config/git
!.config/kitty
.config/kitty/colorscheme.conf
!.config/mako
!.config/nvim
.config/nvim/*
!.config/nvim/colors
!.config/nvim/skel
!.config/nvim/init.vim
!.config/skhd
!.config/sway
.config/sway/enabled/*
!.config/swaynag
!.config/waybar
!.config/wofi
!.config/yabai
!.config/yadm
.deno/bin
.dbus
.esd_auth
.gem
.ghidra
.gnome/apps
.gnupg/*
!.gnupg/gpg-agent.conf
!.gnupg/gpg.conf
.java
.kube/cache
.lesshst
.local/bin/cutter
.local/bin/dust
.local/bin/http*
.local/bin/kube*
.local/bin/mc
.local/bin/poetry
.local/lib
.local/share/*
!.local/share/MultiMC
.local/share/MultiMC/*
!.local/share/MultiMC/install.sh
!.local/share/yadm
.local/share/yadm/repo.git
!.local/share/yadm/archive
.local/state
.mc/share
.mozilla/*
!.mozilla/firefox
.mozilla/firefox/*
!.mozilla/firefox/chrome
.npm
.password-store
.pki
!.pwn
.rustup/toolchains
.rustup/update-hashes
.ssh/authorized_keys
.ssh/known_hosts
.var/app
.vnc
.wget-hsts
.Xilinx
.Xauthority
!.xkb
.zcompdump
.zoom
!.zshrc


# vcs
.git

# packaging
.docker
.dockerignore

# publishing
.github
.local/screenshots

# large
.local/wallpaper
