# user data
/*
!/.*
.*_history
.android
.ansible
.arduino*/*
!.arduino*/preferences.txt
.audacity*
.avidemux6
.aws
.bash*
.bun
.cache
.cargo/bin
.cargo/env
.cargo/git
.cargo/registry
.cargo/.crates.toml
.cargo/.crates2.json
.cargo/.global-cache
.cargo/.package-cache
.cargo/.package-cache-mutate
.cert/nm-openvpn
.config/*
!.config/Code
.config/Code/*
!.config/Code/User
.config/Code/User/*
#!.config/Code/User/keybindings.json
#!.config/Code/User/settings.json
!.config/Yubico/u2f_keys
!.config/contain
!.config/containers
!.config/fontconfig
!.config/foot
.config/foot/foot.ini
!.config/git
!.config/kitty
.config/kitty/colorscheme.conf
!.config/mako
!.config/networkmanager-dmenu
!.config/nvim
.config/nvim/*
!.config/nvim/colors
!.config/nvim/skel
!.config/nvim/init.vim
!.config/nvim/lua
!.config/skhd
!.config/sway
.config/sway/enabled/*
!.config/swaynag
!.config/waybar
!.config/wofi
!.config/yabai
!.config/yadm
!.config/zed
.config/zed/*
!.config/zed/*.json
!.config/zsh-completions
.config/zsh-completions/*
!.config/zsh-completions/download.sh
.cortex-debug
.dart-tool
.dart
.dartServer
.deno/bin
.docker/.buildNodeID
.docker/.token_seed*
.docker/buildx
.docker/config.json
.docker/contexts
.dotnet
.dbus
.dvdcss
.earthly
.esd_auth
.flutter
.galileo
.gem
.ghidra
.gitconfig
.gitlab_token
.gnome/apps
.gnupg/*
!.gnupg/gpg-agent.conf
!.gnupg/gpg.conf
.go
.gradle
.httpie
.java
.jssc
.kube/cache
.kuberlr
.lesshst
.local/bin/cmark
.local/bin/cutter
.local/bin/dust
.local/bin/earthly
.local/bin/epinio
.local/bin/exa
.local/bin/firebase
.local/bin/helm
.local/bin/http*
.local/bin/k3d
.local/bin/kind
.local/bin/kompose
.local/bin/kube*
.local/bin/mc
.local/bin/particle
.local/bin/pipenv
.local/bin/pipenv-resolver
.local/bin/poetry
.local/bin/pygmentize
.local/bin/step
.local/bin/tilt
.local/bin/turn_usb
.local/bin/vagrant
.local/bin/virtualenv
.local/bin/yadm
.local/bin/yq
.local/bin/zed
.local/lib
.local/share/*
!.local/share/MultiMC
.local/share/MultiMC/*
!.local/share/MultiMC/install.sh
!.local/share/yadm
.local/share/yadm/repo.git
!.local/share/yadm/archive
.local/state
.local/zephyr*
.local/zed-preview.app
.mc/share
.mozilla/*
!.mozilla/firefox
.mozilla/firefox/*
!.mozilla/firefox/chrome
.neverball*
.npm
.nvm
.opendrop/keys
.pam_environment
.parsec
.particle
.password-store
.pki
.pm2
.profile
.pub-cache
.pulumi
.pyenv
!.pwn
.rbenv
.rustup/settings.toml
.rustup/toolchains
.rustup/update-hashes
.ssh/authorized_keys
.ssh/known_hosts
.step/certs
.step/config
.sudo_as_admin_successful
.talon
.terraform.d
.tflint.d
.thunderbird
.tilt-dev
.vagrant.d
.var/app
.viminfo
.vscode
.vnc
.wget-hsts
.Xilinx
.Xauthority
!.xkb
.zcompdump
.zoom
.zshrc-theme
!.zshrc
.*.draft.txt
