# user data
/*
!/.*
.*_history
.android
.ansible
.arduino*/*
!.arduino*/preferences.txt
.audacity*
.aws
.bash*
.cache
.cargo/bin
.cargo/registry
.cargo/.package-cache
.cert/nm-openvpn
.config/*
!.config/Code
.config/Code/*
!.config/Code/User
.config/Code/User/*
!.config/Code/User/keybindings.json
!.config/Code/User/settings.json
!.config/Yubico/u2f_keys
!.config/contain
!.config/containers
!.config/fontconfig
!.config/git
!.config/kitty
.config/kitty/colorscheme.conf
!.config/mako
!.config/nvim
.config/nvim/*
!.config/nvim/colors
!.config/nvim/skel
!.config/nvim/init.vim
!.config/nvim/lua
!.config/skhd
!.config/sway
.config/sway/enabled/*
!.config/swaynag
!.config/waybar
!.config/wofi
!.config/yabai
!.config/yadm/*
.config/yadm/repo.git
.deno/bin
.docker/.buildNodeID
.docker/.token_seed*
.docker/buildx/.lock
.docker/buildx/current
.docker/config.json
.dbus
.earthly
.esd_auth
.gem
.ghidra
.gitconfig
.gitlab_token
.gnome/apps
.gnupg/*
!.gnupg/gpg-agent.conf
!.gnupg/gpg.conf
.go
.httpie
.java
.kube/cache
.lesshst
.local/bin/cutter
.local/bin/dust
.local/bin/earthly
.local/bin/exa
.local/bin/http*
.local/bin/kube*
.local/bin/mc
.local/bin/poetry
.local/bin/yq
.local/lib
.local/share/*
!.local/share/MultiMC
.local/share/MultiMC/*
!.local/share/MultiMC/install.sh
!.local/share/yadm
.local/share/yadm/repo.git
!.local/share/yadm/archive
.local/state
.local/zephyr*
.mc/share
.mozilla/*
!.mozilla/firefox
.mozilla/firefox/*
!.mozilla/firefox/chrome
.npm
.nvm
.pam_environment
.password-store
.pki
.pm2
.profile
.pulumi
.pyenv
!.pwn
.rustup/toolchains
.rustup/update-hashes
.ssh/authorized_keys
.ssh/known_hosts
.sudo_as_admin_successful
.terraform.d
.tflint.d
.thunderbird
.var/app
.viminfo
.vscode
.vnc
.wget-hsts
.Xilinx
.Xauthority
!.xkb
.zcompdump
.zoom
!.zshrc
