* {
    border: none;
    border-radius: 0;
    /* `otf-font-awesome` is required to be installed for icons */
	font-family: "Fira Code";
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background-color: rgba(32, 32, 32, 0.5);
    border-bottom: 3px solid rgba(32, 32, 32, 0);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.kitty {
    background-color: rgba(32, 32, 32, 0.875);
}

window#waybar.firefox {
    background-color: #131313;
}

window#waybar.spotify {
    background-color: #181818;
}

window#waybar.discord {
	background-color: #36393f;
}

/* Can't match org.telegram.desktop :( */
window#waybar.telegram {
	background-color: #36393f;
}

#workspaces {
	margin-right: 4px;
}

#workspaces button {
    padding: 0 6px;
    background-color: #2d2d2d;
    color: #a3a3a3;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: #606060;
    color: #ffffff;
}

#workspaces button.focused {
    background-color: #cb4b16;
    color: #ffffff;
}

#workspaces button.urgent {
    background-color: #dc322f;
}

#mode {
    background-color: #d33682;
}

#window {
	padding: 0 6px;
	margin: 0 4px;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#idle_inhibitor,
#mpd {
    padding: 0 10px;
    margin: 0 4px;
    color: #ffffff;
}

#tray {
	margin-right: 0;
}

#clock {
    background-color: #64727D;
}

#battery {
    background-color: #ffffff;
    color: #000000;
}

#battery.charging {
    color: #ffffff;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: #2ecc71;
    color: #000000;
}

#memory {
    background-color: #9b59b6;
}

#backlight {
    background-color: #90b1b1;
}

#network {
    background-color: #2980b9;
}

#network.disconnected {
    background-color: #606060;
    color: #a3a3a3;
}

#pulseaudio {
    background-color: #f1c40f;
    color: #000000;
}

#pulseaudio.muted {
    background-color: #606060;
    color: #a3a3a3;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    background-color: #f0932b;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    background-color: #2980b9;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}
