#window {
	background: rgba(32, 32, 32, 0.875);

	font-family: "Fira Code";
	font-size: 14px;
	color: #a0a0a0;
}

#input {
	padding: 8px 16px;

	background: none;
	border: none;
	border-radius: 0;
}
#input:focus {
	box-shadow: none;
}

flowboxchild {
	padding: 0;
}
#entry:selected {
	background: rgba(203, 75, 22, 0.73);
	outline: none;
}
.entry#selected,
.entry#unselected {
	padding: 8px 38px;
}
expander .entry#selected,
expander .entry#unselected {
	padding: 8px 22px;
}
list {
	background: rgba(32, 32, 32, 1);
	color: #a0a0a0;
}
list .entry#selected,
list .entry#unselected {
	padding: 6px 62px;
}

image {
	margin-right: 8px;
}
