font=Fira Code:size=11
font-bold=Fira Code:weight=bold:size=11
font-italic=IBM Plex Mono:slant=italic:size=11
font-bold-italic=IBM Plex Mono:weight=bold:slant=italic:size=11
line-height=18
vertical-letter-offset=2
dpi-aware=no
pad=20x20
resize-delay-ms=500

[tweak]
#render-timer=osd

[colors]
alpha=0.875
#cursor_text_color={cursor_text_color}
#cursor={cursor}
foreground={foreground}
background={background}
#selection_foreground={selection_foreground}
#selection_background={selection_background}
regular0={color0}
regular1={color1}
regular2={color2}
regular3={color3}
regular4={color4}
regular5={color5}
regular6={color6}
regular7={color7}
bright0={color8}
bright1={color9}
bright2={color10}
bright3={color11}
bright4={color12}
bright5={color13}
bright6={color14}
bright7={color15}

[csd]
border-width=8
